<%- include("./partials/header") %>

<!-- <form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
    <button>
		Sign up!
	</button>
</form>


<div class="ui main text container ">
	<!-- <div class="ui huge header">  -->
<div class="ui main text container ">
<h2 class="ui image header">
      <div class="content">
        Sign up!
      </div>
</h2> 


<form action="/register" method="post">
	 <div class="ui   stacked secondary   segment">
		<div class="ui    secondary   segment">
        <div class="item">
			 <div class="ui left icon input">
			 <i class="user icon"></i>
	         <input type="text" name="username" placeholder="username">
			</div>
		 </div>
		 </div>
		 	
	<div class="ui    secondary   segment">
	<div class="item">
		 <div class="ui left icon input">
			   <i class="lock icon"></i>
	<input type="password" name="password" placeholder="password">
		</div>
	</div>
		 </div>
	
	</div>
	<input class="ui fluid large floated violet submit button" type="submit" value="login">
</form>
</div>
<%- include("./partials/footer") %>